@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background: url(bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  width: 23%;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.card-header {
  background: #02386acc;
  height: 70vh;
  padding: 2rem;
}

.pic img {
  display: inline-block;
  width: 10rem;
  height: auto;
  border-radius: 20%;
  border: 0.5rem solid #188189fe;
  margin: auto;
}

.name {
  color: #f2f2f2;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.3rem 0;
}

.desc {
  font-size: 1.2rem;
  color: #0be5f4fe;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 2.3rem;
  margin: 2rem 0;
}

.icon a {
  color: #f2f2f2;
  font-size: 2rem;
  transition: 0.5s;
}

.icon a:hover {
  color: #0be5f4fe;
}

.contato-btn {
  display: inline-block;
  padding: 1rem 4rem;
  color: #f4f4f4;
  border: 2px solid #188189fe;
  border-radius: 5px;
  margin-top: 0.7rem;
  transition: 0.4s;
}

.contato-btn:hover {
  background: #188189fe;
  color: #f4f4f4;
  font-weight: 600;
  font-size: 1.1rem;
}

.card-footer {
  background: #aeaaaa;
  padding: 2rem;
}

/*Contato*/

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 3rem;
  background: #1d1d2ec4;
  width: 30%;
}

section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  color: #f4f4f4;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

form input {
  padding: 0.7rem;
  outline: none;
  border: 0;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  transition: all 0.5s;
}

form input:focus {
  border-radius: 16px;
}

form textarea {
  padding: 0.6rem;
  outline: none;
  border: 0;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

form textarea:focus {
  border-radius: 16px;
}

form button {
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  border: 2px solid #f4f4f4;
  color: #f4f4f4;
  transition: all 1s;
  margin-bottom: 1rem;
}

form button:hover {
  background: #188189fe;
  color: #f4f4f4;
  font-weight: 600;
  border-radius: 16px;
}

/*Página do Obrigado*/

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #101026;
  flex-direction: column;
}
.text {
  font-size: 2.2rem;
  color: #f4f4f4;
  margin-bottom: 30px;
}
.paragrafo {
  color: #f4f4f4;
  margin-bottom: 50px;
}
.btn {
  padding: 15px 55px;
  background: #f4f4f4;
  text-decoration: none;
  color: #101026;
  font-size: 1rem;
  transition: all 0.5s;
}
.btn:hover {
  border-radius: 16px;
}

/* Responsividade*/

@media (max-width: 1024px) {
  .profile-card {
    width: 30%;
  }

  .pic img {
    width: 8rem;
    height: auto;
  }

  .name {
    font-size: 1.2rem;
  }

  .desc {
    font-size: 0.8rem;
  }

  .icon {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 2rem;
  }

  .icon a {
    font-size: 2rem;
  }

  .contato-btn {
    padding: 0.5rem;
    width: 10rem;
  }

  .card-footer {
    padding: 1.4rem;
  }

  /*Contato*/

  section {
    padding: 2rem;
    width: 40%;
  }

  section form {
    width: 90%;
  }

  form label {
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }

  form input {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  form textarea {
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  form button {
    padding: 0.5rem;
    font-size: 1rem;
  }

  /*Página do Obrigado*/

  .text {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 768px) {
  .profile-card {
    width: 35%;
  }

  .card-header {
    padding: 1rem;
  }

  .pic img {
    display: inline-block;
    width: 8rem;
    height: auto;
  }

  .name {
    color: #f2f2f2;
    font-size: 1.1rem;
  }

  .desc {
    font-size: 0.8rem;
  }

  .icon {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
  }

  .icon a {
    font-size: 1.5rem;
  }

  .contato-btn {
    padding: 0.5rem;
    margin-top: 0.1rem;
    width: 10rem;
  }

  .card-footer {
    background: #aeaaaa;
    padding: 1.4rem;
  }

  /*Contato*/

  section {
    padding: 1rem;
    width: 40%;
  }

  section form {
    width: 90%;
  }

  form label {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  form input {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  form textarea {
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }

  form button {
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  /*Página do Obrigado*/

  .text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  .profile-card {
    width: 60%;
  }

  .card-header {
    padding: 1rem;
  }

  .pic img {
    display: inline-block;
    width: 8rem;
    height: auto;
  }

  .name {
    color: #f2f2f2;
    font-size: 1.1rem;
  }

  .desc {
    font-size: 0.8rem;
  }

  .icon {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
  }

  .icon a {
    font-size: 1.5rem;
  }

  .contato-btn {
    padding: 0.5rem;
    margin-top: 0.1rem;
    width: 9rem;
  }

  .card-footer {
    background: #aeaaaa;
    padding: 1.4rem;
  }

  /*Contato*/

  section {
    padding: 1rem;
    width: 70%;
  }

  section form {
    width: 90%;
  }

  form label {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  form input {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  form textarea {
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }

  form button {
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  /*Página do Obrigado*/

  .text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 320px) {
  .profile-card {
    width: 80%;
  }
}
